@import '/src/app/core/ui/styles/settings.scss';

.product-detail {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  justify-items: stretch;
  grid-column-gap: 1rem;
  min-height: 60vh;

  &-product {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1rem;
    height: 40vh;
    min-width: 450px;

    &-image {
      border-radius: 0.5rem;
    }
  }

  &-stores {
    justify-self: flex-start;
    max-height: 40vh;
    overflow: auto;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;

    &__empty {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding-top: 2rem;
      &-face {
        font-size: 6rem;
        line-height: 10rem;
      }
    }
    &-item {
      padding: 1rem;
      cursor: pointer;
      display: grid;
      grid-template-columns: 150px auto;
      justify-content: flex-start;
      align-items: flex-start;
      grid-column-gap: 1rem;
      border: 1px solid transparent;

      &-image {
        border-radius: 0.5rem;
      }

      &:hover {
        border-radius: 0.4rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
          rgba(0, 0, 0, 0.22) 0px 10px 10px;
      }

      &-description {
      }
    }
  }

  &-back {
    align-self: flex-start;
    justify-self: flex-end;
    grid-column: 2 / -1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
