<div class="product-detail">
  <div class="product-detail-product">
    <img
      src="https://via.placeholder.com/200x100"
      class="product-detail-product-image"
    />
    <div>
      <h2>{{ producto?.nombre }}</h2>
      <div>
        <strong>Categoría:</strong> {{ producto?.categoriaDescripcion }}
      </div>
      <div><strong>Precio:</strong> {{ producto?.precio }} €</div>
    </div>
  </div>

  <div class="product-detail-stores">
    <ng-container *ngIf="existenciasEnTienda?.length; else emptyStores">
      <div
        class="product-detail-stores-item"
        *ngFor="let existenciaEnTienda of existenciasEnTienda"
        (click)="openStoreDetail(existenciaEnTienda)"
      >
        <img
          src="https://via.placeholder.com/150x100"
          class="product-detail-stores-item-image"
        />
        <div class="product-detail-store-item-description">
          <p>
            <strong>Dirección:</strong> {{ getDireccion(existenciaEnTienda) }}
          </p>
          <p>
            <strong>Teléfono:</strong> {{ existenciaEnTienda.tienda.telefono }}
          </p>
        </div>
      </div>
    </ng-container>

    <ng-template #emptyStores>
      <div class="product-detail-stores__empty">
        <span class="product-detail-stores__empty-face">😢</span>
        <h2>Ninguna tienda dispone de existencias para este producto</h2>
      </div>
    </ng-template>
  </div>
  <button
    class="product-detail-back"
    color="accent"
    mat-flat-button
    [routerLink]="['/productos']"
  >
    <mat-icon>keyboard_backspace</mat-icon> Volver
  </button>
</div>
