@import '/src/app/core/ui/styles/settings.scss';

.app-catalogue-product {
  display: grid;
  background-color: white;
  border-radius: 0.5rem;
  width: 200px;

  a {
    color: black;
    text-decoration: none; /* no underline */
  }

  &:hover {
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
  }

  &-image {
    grid-column: 1 / 3;
    margin-bottom: 0rem;
    border-radius: 0.5rem;
  }

  &-details {
    text-align: left;
    padding: 0 1rem;

    &-price {
      font-size: 1.2rem;
      font-weight: 400;
    }

    &-name {
      font-weight: 100;
      line-height: 0.8rem;
      height: 1.5rem;
    }

    &-category {
      color: darkgray;
      text-decoration: underline;
    }
  }
}
