<div class="app-catalogue-product">
  <a [routerLink]="['/productos', producto.id]" [state]="{ producto }">
    <img
      src="https://via.placeholder.com/200x200"
      class="app-catalogue-product-image"
    />
    <div class="app-catalogue-product-details">
      <p class="app-catalogue-product-details-name">{{ producto.nombre }}</p>
      <p class="app-catalogue-product-details-price">{{ producto.precio }} €</p>
      <p class="app-catalogue-product-details-category">
        {{ producto.categoriaDescripcion }}
      </p>
    </div>
  </a>
</div>
