<h2>Catalogo de productos</h2>
<div class="app-product-catalogue">
  <div class="app-product-catalogue-filter">
    <mat-form-field appearance="outline">
      <input matInput type="text" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="app-product-catalogue-products">
    <div
      *ngFor="let producto of productos"
      class="app-product-catalogue-products-item"
    >
      <app-catalogue-product [producto]="producto"></app-catalogue-product>
    </div>
  </div>
</div>
