.app-product-catalogue {
  min-height: 60vh;
  width: 100%;

  &-filter {
    width: 100%;
    .mat-form-field {
      margin: 0 2rem;
      width: 80%;
    }
  }

  &-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    flex-wrap: wrap;
    align-items: start;
    justify-items: center;
    margin: auto;
  }
}
