<mat-toolbar class="app-header">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/productos']" mat-menu-item>
      <mat-icon color="primary">view_list</mat-icon>
      <span>Catalogo</span>
    </button>
    <button mat-menu-item [routerLink]="['/pedidos/recepcion-en-tienda']">
      <mat-icon>assignment_turned_in</mat-icon>
      <span>Recepción de pedidos</span>
    </button>
  </mat-menu>

  <h1>Blue Manzana</h1>
  <span class="app-header-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
