<div class="store-modal">
  <div class="store-modal-info">
    <h2 class="store-modal-info-title">
      {{ direccion }}
    </h2>

    <div class="store-modal-info-stock">
      <mat-divider></mat-divider>
      <div class="store-modal-info-stock-row">
        <span class="store-modal-info-stock-row-key">Teléfono</span>
        <span class="store-modal-info-stock-row-value">{{
          data.existenciasEnTienda?.tienda?.telefono
        }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="store-modal-info-stock-row">
        <span class="store-modal-info-stock-row-key">Estado</span>
        <span class="store-modal-info-stock-row-value">{{ status }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="store-modal-info-stock-row">
        <span class="store-modal-info-stock-row-key">Cantidad</span>
        <span class="store-modal-info-stock-row-value"
          >{{ data.existenciasEnTienda?.cantidad }} unidades</span
        >
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>

  <img src="https://via.placeholder.com/300x300" class="store-modal-image" />
</div>
