.store-modal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;

  &-info {
    &-stock {
      &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &-key {
        }
        &-value {
          text-align: right;
          font-weight: bold;
        }
      }
    }
  }

  &-image {
    border-radius: 0.5rem;
  }
}
