<div class="blue-manzana-theme">
  <h2 mat-dialog-title>Pedido #{{ data.order.id }}</h2>
  <mat-dialog-content class="mat-typography confirm-reception-dialog-content">
    <p class="confirm-reception-dialog-content-description"></p>
    <div>
      <mat-divider></mat-divider>
      <div class="confirm-reception-dialog-content-row">
        <span class="confirm-reception-dialog-content-row-key">Fecha</span>
        <span class="confirm-reception-dialog-content-row-value">{{
          data.order.fecha | date
        }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="confirm-reception-dialog-content-row">
        <span class="confirm-reception-dialog-content-row-key">Cantidad</span>
        <span class="confirm-reception-dialog-content-row-value">{{
          data.order.cantidad
        }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="confirm-reception-dialog-content-row">
        <span class="confirm-reception-dialog-content-row-key">Estado</span>
        <span class="confirm-reception-dialog-content-row-value">{{
          status
        }}</span>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Cancelar</button>
    <button
      mat-flat-button
      [mat-dialog-close]="true"
      color="primary"
      cdkFocusInitial
    >
      Confirmar
    </button>
    <button
      mat-flat-button
      [mat-dialog-close]="false"
      color="warn"
      cdkFocusInitial
    >
      Iniciar reclamación
    </button>
  </mat-dialog-actions>
</div>
