@import '/src/app/core/ui/styles/settings.scss';

.confirm-reception-dialog {
  &-content {
    &-row {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &-key {
      }
      &-value {
        text-align: right;
        font-weight: bold;
      }
    }
  }
}
