<mat-spinner *ngIf="loading"></mat-spinner>
<div class="login">
  <div class="login-info">
    <img class="login-info-logo" src="assets/logo.png" alt="logo" />
    <h1>Blue Manzana</h1>
    <p>Bienvenid@ a tu tienda de ropa favorita</p>
  </div>
  <form [formGroup]="form" class="login-form" (ngSubmit)="submit()">
    <div class="login-form-error" *ngIf="hasError">
      {{ loginMessageError }}
    </div>
    <h2 class="login-title" *ngIf="!hasError">LOGIN</h2>
    <mat-form-field
      appearance="outline"
      color="primary"
      class="login-form-field"
    >
      <mat-label>DNI</mat-label>
      <input matInput formControlName="username" required />
      <mat-error *ngIf="usernameErrorMessage">{{
        usernameErrorMessage
      }}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field
      appearance="outline"
      color="primary"
      class="login-form-field"
    >
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        placeholder="Contraseña"
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="passwordErrorMessage">{{
        passwordErrorMessage
      }}</mat-error>
    </mat-form-field>
    <br />
    <button
      mat-flat-button
      color="accent"
      type="submit"
      [disabled]="form.invalid || form.pristine"
    >
      Entrar
    </button>
  </form>
</div>
