@import '/src/app/core/ui/styles/settings';

.login {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-column-gap: 4rem;
  width: 75%;
  margin: auto;
  margin-top: 15vh;
  &-info {
    text-align: center;
    &-logo {
      width: 200px;
    }
  }
  &-title {
    text-align: center;
  }
  &-form {
    position: relative;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 15px;
    &-error {
      height: 32px;
      width: 100%;
      background-color: $red-background-color;
      border: 1px solid $red-color;
      border-radius: 0.3rem;
      margin-bottom: 1rem;
      color: $red-color;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    &-field {
      width: 260px;
    }
    mat-icon {
      cursor: pointer;
    }
    button {
      margin-top: 20px;
      width: 100%;
    }
    mat-icon {
      color: var(--color-black);
    }
  }
}
