<div class="reception-in-store">
  <h1 class="reception-in-store-title">{{ title }}</h1>

  <h2>Introduzca el número de pedido</h2>

  <mat-form-field appearance="outline">
    <mat-label># Pedido</mat-label>
    <input [formControl]="orderNumberControl" matInput type="text" />
  </mat-form-field>

  <br />

  <button
    class="reception-in-store-button"
    mat-flat-button
    color="primary"
    [disabled]="!orderNumberControl.value"
    (click)="searchOrder()"
  >
    Buscar
  </button>
</div>
