@import '/src/app/core/ui/styles/settings.scss';

.reception-in-store {
  background-color: white;
  padding: 1rem 2rem;
  min-height: 60vh;

  .mat-flat-button {
    height: 40px;
    width: 300px;
    font-size: 1rem;
    line-height: 40px;
  }
}
