/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '/src/app/core/ui/styles/settings';
@import '~@angular/material/theming';
@include mat-core();

$padding-page-cotent: 2rem;

$primary-palette: (
  50: $blue-color,
  100: $blue-color,
  200: $blue-color,
  300: $blue-color,
  400: $blue-color,
  500: $blue-color,
  600: $blue-color,
  700: $blue-color,
  800: $blue-color,
  900: $blue-color,
  A100: $blue-color,
  A200: $blue-color,
  A400: $blue-color,
  A700: $blue-color,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$secondary-palette: (
  50: $secondary-color,
  100: $secondary-color,
  200: $secondary-color,
  300: $secondary-color,
  400: $secondary-color,
  500: $secondary-color,
  600: $secondary-color,
  700: $secondary-color,
  800: $secondary-color,
  900: $secondary-color,
  A100: $secondary-color,
  A200: $secondary-color,
  A400: $secondary-color,
  A700: $secondary-color,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$warning-palette: (
  50: $red-color,
  100: $red-color,
  200: $red-color,
  300: $red-color,
  400: $red-color,
  500: $red-color,
  600: $red-color,
  700: $red-color,
  800: $red-color,
  900: $red-color,
  A100: $red-color,
  A200: $red-color,
  A400: $red-color,
  A700: $red-color,
  contrast: (
    50: $font-color,
    100: $font-color,
    200: $font-color,
    300: $font-color,
    400: $font-color,
    500: $font-color,
    600: $font-color,
    700: $font-color,
    800: $font-color,
    900: $font-color,
    A100: $font-color,
    A200: $font-color,
    A400: $font-color,
    A700: $font-color
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat-palette($primary-palette);
$theme-accent: mat-palette($secondary-palette, A200, A100, A400);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent
    )
  )
);

@function my-mat-light-theme-foreground($color) {
  @return (
    base: $color,
    disabled: rgba($color, 0.38),
    disabled-button: rgba($color, 0.38),
    disabled-text: rgba($color, 0.38),
    hint-text: rgba($color, 0.38),
    secondary-text: rgba($color, 0.54),
    icon: rgba($color, 0.54),
    icons: rgba($color, 0.54),
    text: $font-color,
    slider-min: rgba($color, 0.87),
    slider-off: rgba($color, 0.26),
    slider-off-active: rgba($color, 0.38)
  );
}

// You can put any color here. I've chosen mat-color($my-app-primary, 700)
$my-foreground: my-mat-light-theme-foreground($font-color);

.blue-manzana-theme {
  $my-app-theme-custom: map-merge(
    $theme,
    (
      foreground: $my-foreground
    )
  );
  @include angular-material-theme($my-app-theme-custom);
  .mat-drawer-container {
    color: $font-color;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $gray-background-color;
}

.mat-progress-spinner {
  position: absolute;
  top: 45vh;
  left: 45vw;
  z-index: 1;
}

.mat-icon,
h1 {
  color: $blue-color !important;
}

.mat-flat-button.mat-primary {
  background-color: $secondary-color !important;
}
